<div id="<%= dom_id class_section %>">
  <p>
    <strong>Name:</strong>
    <%= class_section.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= class_section.user_id %>
  </p>

  <p>
    <strong>Attendance:</strong>
    <%= class_section.attendance_id %>
  </p>

</div>
