<div id="<%= dom_id student %>">
  <p>
    <strong>Admission number:</strong>
    <%= student.admission_number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= student.mobile_number %>
  </p>

</div>
